.input-count {
  width: 110px;
  .input-group {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    overflow: hidden;
    .btn {
      @include text-norm(16px);
      color: #666;
      background-color: #fff;
      border: none;
      outline: none;
      box-shadow: none;
      position: relative;
      z-index: 10;
      @include hover-focus-active {
        box-shadow: none;
        color: #0f499a;
        border: none;
        outline: none;
      }
    }
    input {
      border: none;
      outline: none;
      box-shadow: none;
      background-color: #f3f3f3;
      @include text-norm(14px);
      color: #333;
      margin-right: -30px;
    }
  }
  &.basket-count {
    width: 95px;
    background-color: #fff;
    .input-group {
      border: none;
      background: none;
      background-color: inherit;
      .input-group-prepend,
      .input-group-append {
        background-color: inherit;
        padding: 8px;
        position: relative;
        z-index: 10;
      }
      .form-control {
        background-color: inherit;
        line-height: 13px;
      }
      .btn {
        padding: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #999;
        background-color: inherit;
        font-size: 13px;
        line-height: 13px;
        font-weight: bold;
      }
    }
  }
}