.lease-bg {
  height: auto;
  min-height: 740px;
  background: url("../img/bg-6.jpg") no-repeat top center;
  background-size: cover;
  &.doctor {
    min-height: auto;
  }
  @include media-breakpoint-down(lg) {
    min-height: auto;
  }
}
.lease {
  padding: 60px 180px;
  color: #fff;
  .list-yellow {
    padding: 25px 60px 15px;
    @include media-breakpoint-down(md) {
      //padding: 25px 40px 15px;
    }
    @include media-breakpoint-down(sm) {
      padding: 20px 0 15px;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 40px 100px;
  }
  @include media-breakpoint-down(md) {
    padding: 30px 40px;
  }
  @include media-breakpoint-down(sm) {
    padding: 30px 15px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
  .text {
    @include text-light(16px);
    color: #fff;
    padding-left: 90px;
    b {
      color: inherit;
      @include text-bold(18px);
    }
    @include media-breakpoint-down(md) {
      font-size: 14px;
      b {
        font-size: 16px;
      }
    }
    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }
  .b-form {
    padding: 65px 40px 0;
    @include media-breakpoint-down(md) {
      padding: 50px 15px 0;
    }
    @include media-breakpoint-down(sm) {
      max-width: 450px;
      margin: 0 auto;
      padding: 50px 0 30px;
    }
    p {color: #fff;}
    .title {
      @include text-bold(22px);
      padding-bottom: 20px;
      @include media-breakpoint-down(md) {
        font-size: 18px;
      }
    }
    .button {
      width: 100%;
      margin-top: 38px;
      @include media-breakpoint-down(sm) {
        display: flex;
        margin: 38px auto 0;
        width: 100%;
        max-width: 450px;
      }
    }
  }
  &.doctor {
    .button.yellow {
      display: flex;
      margin: 30px auto;
      width: 405px;
      max-width: none;
      font-size: 15px;
      @include media-breakpoint-down(sm) {
        width: 100%;
        font-size: 12px;
        line-height: 1.5;
        margin: 10px auto;
      }
    }
    .partner {
      display: flex;
      justify-content: center;
      align-items: center;
      @include text-light(18px);
      padding: 50px 0;
      color: #fff;
      span {
        display: inline-block;
        padding-right: 40px;
        font: inherit;
        color: inherit;
      }
      @include media-breakpoint-down(sm) {
        flex-flow: column wrap;
        font-size: 14px;
        span {
          padding-bottom: 20px;
        }
      }
    }
  }
}