.social {
  display: block;
  text-align: right;
  margin-right: 0;
  margin-left: -70px;
  min-width: 150px;
  white-space: nowrap;
  @include media-breakpoint-down(md) {

  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    text-align: center;
    padding: 0 20px 10px;
    margin: 0;
  }
  &-ico {
    display: inline-block;
    width: 34px;
    height: 34px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 5px;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: border-color 0.3s ease;
    &:hover {
      border-color: #a9a9a9;

    }
  }
  &-ico.vk {
    background-image: url(../img/ico/i-vk.svg);
    background-size: 19px auto;
  }
  &-ico.ok {
    background-image: url(../img/ico/i-ok.svg);
    background-size: 10px auto;
  }
  &-ico.fb {
    background-image: url(../img/ico/i-fb.svg);
    background-size: 18px auto;
  }
  &-ico.inst {
    background-image: url(../img/ico/i-inst.svg);
    background-size: 18px auto;
  }
}